/* manrope-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/manrope-v20-latin-600.woff2') format('woff2');
}

/* manrope-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/manrope-v20-latin-800.woff2') format('woff2');
}


:root {
  --blue-200: oklch(0.9018 0.024 216.16);
  --green-300: oklch(0.8913 0.186 156.97);

  --blue-600: oklch(0.4739 0.0409 259.83);
  --blue-900: oklch(0.3482 0.0279 259.85);
  --blue-950: oklch(0.2686 0.0244 261.26);

  --accent-clr: var(--green-300);
  --text-clr: var(--blue-200);
  --bg-clr: var(--blue-950);
  --bg-alt-clr: var(--blue-900);
  --font-manrope: 'Manrope';
  --text-size: 2rem;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

.page-container {
  font-size: 1.6rem;
  position: relative;
  min-height: 100dvh;
  display: grid;
  grid-template: 'main' 1fr 'footer' auto / 1fr;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-family: var(--font-manrope);
}

.main-container {
  grid-area: main;
  display: grid;
  place-items: center;
  padding-block: 3rem;
  position: relative;
}

.advice-container {
  --b-radius: 1.5rem;
  --mx-width: 45rem;
  --margin: 4rem;

  background-color: var(--bg-alt-clr);
  border-radius: var(--b-radius);
  padding: 4rem;
  width: min(100% - var(--margin), var(--mx-width));
  position: relative;
  text-align: center;
}

.advice-head {
  color: var(--accent-clr);
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: calc(var(--text-size) - 0.9rem);

  .advice-id {
    margin-left: 1rem;
  }
}

blockquote {
  font-weight: 800;
  font-size: var(--text-size);

  &::before {
    color: var(--text-clr);
    content: open-quote;
    font-size: var(--text-size);
    margin-right: 0.1rem;

  }

  &::after {
    color: var(--text-clr);
    content: close-quote;
    font-size: var(--text-size);
    margin-left: 0.1rem;
  }
}

.hr {
  display: block;
  border-bottom: 0.5px solid hsla(0,0%,90%, 0.4);
  margin-block: 3rem;
  position: relative;
}

.hr-after {
  position: absolute;
  top: -2rem;
  right: 50%;
  transform: translateX(50%);
  content: "''";
  width: 4rem;
  height: 4rem;

  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--bg-alt-clr);
}

.hr-after span {
  background-color: var(--text-clr);
  display: inline-block;
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 10px;
}

.advice-btn {
  background-color: var(--accent-clr);
  border-style: none;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;
  bottom: -5rem;
  margin: 0 auto;
  position: absolute;
  bottom: -3rem;
  right: 50%;
  transform: translateX(50%);
  border-radius: 100%;

  &::after {
    position: relative;
    display: grid;
    place-items: center;
    content: url(../img/icon-dice.svg);
  }

  &:hover{
    transition: 0.1s ease-in box-shadow;
    box-shadow: 0px 0px 2rem 1rem oklch(from var(--accent-clr) l c h / 0.5);
  }
}
  .disabled-btn {
    pointer-events: none;
    opacity: 0.5;
  }
.footer-container {
  background-color: var(--blue-900);
  border-top: 0.2rem solid var(--blue-600);
  color: var(--accent-clr);
  grid-area: footer;
  padding: 1.6rem;
  text-align: center;
}

